@mixin search-box {
  form {
    position: relative;
    input[type="text"] {
      width: 100%;
      height: 3.5rem;
      padding: 0.625rem;
      color: $gray;
      border-radius: 10px 28px 28px 10px;
      border: 3px solid $brand-primary;
      &:focus {
        color: $gray-darker;
        background: #fff;
        border: 4px $light-blue solid;
        outline: none;

        + button .search {
          color: $brand-primary;
        }
      }
    }
    button[type="submit"] {
      position: absolute;
      right: 3rem;
      color: $light-blue;
      background: none;
      border: none;
      cursor: pointer;
      i {
        font-size: 36px;
      }
      .search:hover {
        color: $brand-primary;
      }
    }
  }
}

@mixin box-shadow {
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

@mixin box-shadow-light {
  box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.32);
}
