$white: #F7F7F7;
$gray-dark: #636569;
$gray-darker: #101820;
$gray: #8B8A89;
$gray-second: #B1B2B4;
$gray-light: #D0CFCD;
$gray-light-second: #E5E5E6;
$gray-lighter: #F7F7F7;
$gray-lighter-second: #EFEFEE;
$border-gray: #D0CFCD;
$brand-primary: #005CA5;
$brand-secondary: #ED2E34;
$brand-success: #C9DD64;
$brand-warning: #EE503A;
$brand-danger: #C5262B;
$current-step-color: #2B77B4;
$label-color: $gray-darker;
$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: transparent;
$btn-secondary-color: $gray-darker;
$btn-secondary-bg: $gray-lighter;
$btn-secondary-border: transparent;
$btn-border-radius: 0.313rem;
$btn-disabled-background: #f6f6f6;
$btn-disabled-color: #ddd;
$input-border-color: rgba(0, 0, 0, 0.25);
$headings-font-weight: 700;
$tooltip-bg: $brand-danger;
$border-radius: 0;
$extra-small-space: 0.3125rem;
$small-space: 0.625rem;
$medium-space: 1.25rem;
$large-space: 1.875rem;
$extra-large-space: 2.5rem;
$warning: #ff9a52;
$warning-second: #f49d6e;
$warning-hover: #fde7bb;
$alert-warning-bg: rgba(255, 154, 82, 0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;
$btn-warning-bg: $warning;
$btn-warning-color: #fff;
$btn-tertiary-color: #6c868e;
$btn-tertiary-hover: #bbcdd2;
$light-blue: #aac9e1;
$dark-blue: #003d6e;
$yellow-br: #f1f757;
$base-font-size: 1rem;
$font-size-lg: 0.9375rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.8125rem;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.66rem;
$font-size-h4: 1.33rem;
$font-size-h5: 1rem;
$font-size-h6: 0.9375rem;
$display1-size: 3.125rem;
$display1-weight: 600;
$display2-size: 2.188rem;
$display2-weight: 400;
$display3-size: 1.563rem;
$display3-weight: 400;
$display4-size: 1.25rem;
$display4-weight: 400;
$text-muted: $gray;
$radio-border-color: #979797;
