.search-widget {
  margin-left: .625rem;
  width: 50%;
  @include search-box();
}
/*traido del css del modulo ps_searchbar - cuando actualize booral el contenido ->*/
#search_widget {
  margin-bottom: .625rem;
  overflow: auto;
  form {
    position: relative;
    i {
      position: absolute;
      padding: .5rem;
    }
    i.clear {
      right: 15px;
      display: none;
    }
    input {
      width: 100%;
    }
  }
}

.header-top {
  .search-widget {
    form {
      input[type="text"] {
        //min-width: inherit;
        color: $gray-second;
        background: $gray-lighter;

        &:focus {
          background: $white;
        }
      }

      button[type="submit"] {
        top: 50%;
        bottom: inherit;
        transform: translateY(-50%);
      }
    }
  }
}

#checkout {
  #search_widget {
    display: none; /* Not ideal solution by allows to reuse same hooks/templates */
  }
}

#pagenotfound {
  .page-content {
    #search_widget {
      width: 100%;
    }
  }
}

.page-not-found {
  .search-widget {
    form {
      display: inline-block;
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  .search-conte {
    .search-widget {
      width: 45%;
      form {
        margin: 0 auto;
        input[type="text"] {
          background: #fff;
        }
      }
    }
    .ad-conte {
      width: 45%;
    }
  }
}
/*** para pantalla grande ***/
@include media-breakpoint-up(md) {
  .search-widget {

  }
}
