#subcategories {
  margin: 4.5rem 0;
  .subcategory-heading {
    margin-bottom: 20px;
    font-size: 3rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc(100% / 3 - 20px);
      min-width: 200px;
      margin: 10px;
      text-align: center;
      .subcategory-image {
        padding: 0;
        a {
          display: block;
          margin: 0 0 .5rem 0;
          img {
            border-radius: $border-radius-sm;
            width: 100%;
            max-width: 100%;
            transition: all 0.25s ease-out;
          }
        }
      }
      .subcategory-name {
        text-transform: uppercase;
        color: $light-blue;
      }
      .cat_desc {
        display: none;
      }
      &:hover {
        .subcategory-image {
          a {
            img {
              border-radius: $border-radius-lg;
            }
          }
        }
        .subcategory-name {
          color: $brand-primary;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #subcategories {
    ul {
      justify-content: center;
    }
  }
}
